<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<% h = Hash.new(0) %>
<% @jobers = Job.all %>
<% @jobcounter = 0 %>

<% @jobers.each do |p| %>
  <%  @jobcounter = @jobcounter +1 %>
  <% [p.customer].each{ |e| h[e] += 1 } %>
  <% if h[p.customer] > 1 %>
  <% h.delete(p.customer) %>
  <% end %>
<% end %>




    <div class="field" id="cust-tag">
    <%= f.label :Customer %>
    </div>
    <div class="field" id="cust-box">
    <%= f.select :customer,options_for_select((0..(@jobcounter-1)).map {|i| [@jobers[i].customer,@jobers[i].customer] }) %>
    </div>

    <div class="field" id="project-tag">
    <%= f.label :Project %>
    </div>
    <div class="field" id="project-box">
    <%= f.text_field :project %>
    </div>

    <div class="field" id="hours-tag">
    <%= f.label :Hours %>
    </div>
    <div class="field" id="hours-box">
    <%= f.number_field :hours,:class=>'text_field',:step=>'any' %>
    </div>

    <div class="field" id="description-tag">
    <%= f.label :Description %>
    </div>
    <div class="field" id="description-box">
    <%= f.text_field :description %>
    </div>
    <%-# this seems like an awful way of going it but shouldnt cause any errors or anything(talking bout that date_field) -%>
     <div class="field" id="date-box">
    <%= f.date_field :date,:value => @date,style: "#{'display:none'}" %>
    </div>   

    <div id="submit-button">
    <%= f.submit "Add Job" %>
    </div>
<% end %>

