<%= form_for(job) do |f| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <% @jobers = Job.all %>

    <% @array_customers = Array.new() %>
    <% @count_customers = 0 %>

    <% @jobers.each do |j| %>
    <% @array_customers.insert(@count_customers,j.customer) %>
    <% @count_customers += 1 %>
    <% end %>

    <% @array_customers = @array_customers.uniq %>

    <% @array_customers.reject!(&:empty?) %>



    <% @array_projects = Array.new() %>
    <% @count_projects = 0 %>

    <% @jobers.each do |l| %>
    <% @array_projects.insert(@count_projects,l.project) %>
    <% @count_projects += 1 %>
    <% end %>

    <% @array_projects = @array_projects.uniq %>

    <% @array_projects.reject!(&:empty?) %>


    <div class="field" id="cust-tag">
    <%= f.label :Customer %>
    </div>
    <div class="field" id="cust-box">
    <%= f.select :customer,options_for_select((@array_customers.each).map {|i| [i,i] }),:'data-remote' => 'true', :'data-url' => url_for(:controller => 'jobs', :action => 'submit_customer', format: 'js') %>
    </div>

    <div class="field" id="project-tag">
    <%= f.label :Project %>
    </div>
    <div class="field" id="project-box">
    <%= f.select :project,options_for_select((@array_projects.each).map {|i| [i,i] }),:'data-remote' => 'true', :'data-url' => url_for(:controller => 'jobs', :action => 'submit_customer', format: 'js') %>
    </div>

    <div class="field" id="hours-tag">
    <%= f.label :Hours %>
    </div>
    <div class="field" id="hours-box">
    <%= f.number_field :hours,:class=>'text_field',:step=>'any' %>
    </div>

    <div class="field" id="description-tag">
    <%= f.label :Description %>
    </div>
    <div class="field" id="description-box">
    <%= f.text_field :description %>
    </div>
    <%-# this seems like an awful way of doing it but shouldnt cause any errors or anything(hiding date_field) -%>
     <div class="field" id="date-box">
    <%= f.date_field :date,:value => @date,style: "#{'display:none'}" %>
    </div>   

    <% @userid = User.all %>
    <div class="field" id="date-box">
     <%= f.select :userid,options_for_select((@userid.each).map {|i| [i.email,i.email] }),:'data-remote' => 'true', :'data-url' => url_for(:controller => 'jobs', :action => 'submit_customer', format: 'js') %>
    </div>  

    <div id="submit-button">
    <%= f.submit "Add Job" %>
    </div>


<% end %>

