<%= form_for(Job.new) do |f| %>
  <% if Job.new.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% Job.new.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="title">
<h1>Admin Page</h1>
</div>

<%= f.date_field :date,:value => '06/30/2016 00:00',style: "#{'display:none'}" %>
<%= f.text_field :project,:value => ' ',style: "#{'display:none'}" %>
<%= f.number_field :hours,:value => 0,:class=>'text_field',:step=>'any',style: "#{'display:none'}" %>
<div id="job-table">
<table>
<tr>
	<th>Customer</th>
	<th><%= f.text_field :customer %></th>
    <th><%= f.submit "Add Customer" %></th>
	<th>Projects</th>
</tr>
<% end %>
<% @test_for_job_count = 0 %>
<% @jobloop = Job.all %>
<% @counter = 0 %>
<% @cust_counter = 0 %>
<% @first = false %>
<% #--creates new hash,fills hash with values,searches for dupes,print values/delete dupes %>




<% h = Hash.new(0) %>

<% @jobloop.each do |p| %>
<% @counter += 1 %>
<% [p.customer].each{ |e| h[e] += 1 } %>
<% end %>




	<% @projecterino = false %>

	<% @jobloop.each do |u| %>
		<tr>
			<% if h[u.customer] == 1 %>
				<td><%= link_to u.customer,job_path(u)%></td>
				<%if @projecterino == false %>
					<% @jobloop.each do |o| %>
						<% if o.customer == @job.customer %>
							
						<% end %>					
					<% end %>
				<% @projecterino = true %>
				<% end %>
			<% end %>

			<% if h[u.customer] > 1 %>
				<% if h[u.customer] != 567 %>
					<td><%= link_to u.customer,job_path(u)%></td>

				<% else %>
							<% @first = true %>
				<% end %>

				<%if @first == true %>
				<td> </td>
				<% end %>
				<% h[u.customer] = 567 %>
			<% end %>
			<% if @job.customer == u.customer %>
			<td><%= u.project %></td>
			<% end %>
		</tr>
	<% end %>

</table>

</div>



<table>
<th>Users</th>

<% @test = User.all %>

<% @test.each do |y| %>
<tr><td><%= y.email %></td></tr>
<% end %>


</table>


