<!DOCTYPE html>
<html>
  <head>
    <title>Timetrack</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body>
  	<div id="container">
  		<div id="user_header">
  			<% if current_user %>
          Logged in as jam@jam.com<br />
          <%= link_to "Log Out", logout_path %>
        <% end %>

  		</div>
      <%= link_to "Add User", signup_path %><br />
      <% unless current_page?(jobs_path) %>
      <%= link_to "admin page", jobs_path %>  
      <%= link_to "reports page", tests_path %>         
      <% else %>  
      <%= link_to "home page", home_index_path %>   
      <%= link_to "reports page", tests_path %>  
      <% end %>        
  		<% flash.each do |name,msg| %>
  			<%= content_tag :div, msg, id: "flash_#{name}" %>
  		<% end %>

    	<%= yield %>
   	</div>
  </body>
</html>
